:root {
--bg-color: var(--color-persian-green-1);
--navbar-bg-color: hsl(164, 63%, 54%);
--h1-text-color: hsl(164, 63%, 54%);
--h2-text-color: rgb(255, 163, 0);
}

:root.dark {
--navbar-bg-color: hsl(164, 63%, 54%);
--h1-text-color: hsl(164, 63%, 54%);
--h2-text-color: rgb(255, 163, 0);
}

.badge-post {
  background-color: rgb(255, 191, 0);
  color: rgb(255, 255, 255);
  padding: .25rem;
  text-align: justify;
  border-radius: 10px;
}
